.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider {
    min-height: 500px;    
    position: relative;
    margin: 30px;
    display: flex;        
  }
  
  .slide {
    display: flex;              
    margin: 0 50px;
    animation: slideshow 8s linear infinite;    
  }

  .card-header{
    background-color: #2F35C8!important;
  }

  .img-slide{    
    border-radius: 50%;
    padding: 10%;
  }

  .card-footer{
    border: 1px solid gray!important;
  }

  .card h6{
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    padding: 0 10px 40px;
  }

  .card-footer{
    background-color: white!important;
  }
  
  @keyframes slideshow {
    0% { transform: translateX(0);}
    100% { transform: translateX(-100%);}
  }
  
  .slider::before, .slider::after {
    position: absolute;
    content: "";
    z-index: 2;
  }
  
  .slider::before {
    top: 0;
    left: 0;
  }
  
  .slider::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
  }

  .card-btn img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin: 10px;
  }

  .card-btn{
    display: flex;
    justify-content: end;    
  }